/*
 * Global style imports/declarations.
 *
 * Each entry MUST be accompanied with a comment, in which a short description of the entry
 * and the rationale of including the entry is provided.
 */

/*
 * Description: normalize.css
 * Rationale: to remove browser defaults.
 */
@import "~normalize.css/normalize.css";

body {
    /*
     * Description: global font family declaration
     * Rationale: to set the global font family.
     */
    font-family: "Avenir", "Helvetica", "Arial", sans-serif;

    /*
     * Description: font smoothing declarations
     * Rationale: to smooth the text rendered.
     */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
